:root {
  --white: #fff;
  --white-hover: rgba(0, 0, 0, 0.2);
  --yellow: rgba(241, 210, 4, 0.9);
  --purple: #6a4d8a;
  --gray-light: #8c9597;
  --gray-dark: #545454;
  --tomato: tomato;
  --green: #222f36;
}
